.button-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    margin: 1rem;
    margin-bottom: 5rem;
    width: 30%;
}

.button-design
{
    padding: 0.5rem;
    margin: 0.5rem;
    width: 70%;
    background: #07ae7c;
    text-align:center;
    text-transform:uppercase;
    font-weight: 600;
    font-size: 24px;
    border-radius: 3px;
}

.button-design:hover{
    background-color: #0acf94;
}